{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "node_modules/",
    "build/",
    "src/**/*.spec.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "./config/parser"
  ],
  "reporter": [
    "html",
    "lcov"
  ],
  "sourceMap": true,
  "instrument": true
}
